.ReactCollapse--collapse{
    transition:height 500ms;
}
body{
    background:#f1f1f1 !important;
}
.btn-blue{
    background:#3872fa !important;
    color:white !important;
    padding:8px 20px !important;
}
.btn-blue:hove{
    background:#3067e5 !important;
}